*.log
*.env
/node_modules*/
/Full Stack open.code-workspace
/flyserver
/fly2
/WhatsUp
/WhatsUp_preflex
/WhatsUp_gridtest
/part10*
/part4/note_backup
/part2/examples
/part5/bloglist-frontend
/part5/notes_app
